
body {
    min-height: 100vh;
    background:#080a16;
    background-image:
        /* Đốm 1: Màu Tím (Góc trên - bên trái) */
        radial-gradient(circle at 20% 25%, rgba(147, 51, 234, 0.35) 0%, transparent 50%),
        
        /* Đốm 2: Màu Xanh Cyan / Xanh dương (Góc trên - bên phải) */
        radial-gradient(circle at 80% 30%, rgba(6, 182, 212, 0.35) 0%, transparent 50%),
        
        /* Đốm 3: Màu Hồng / Đỏ (Phía dưới - ở giữa) */
        radial-gradient(circle at 50% 80%, rgba(236, 72, 153, 0.3) 0%, transparent 50%)
    ;

    display: flex;
    justify-content: center;
    position: relative;
}


#page-title {
    position: absolute;
    color: white;
    font-family: "Fira", monospace;

    margin-top: 1%;
    text-align: center;
}


#typing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1%;
    position: absolute;
}


#typing-container #timer {
    height: 4%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1%;
    padding: 0;
    margin-left: 20%;
}


#typing-container #timer #select-time {
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;

    background-color: #080a16;
    border-radius: 0.3em;
    margin: 0;
}


#typing-container #timer #countdown {
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}


#text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width : 80% ;
    height: 50%;
    background: linear-gradient(
        to bottom right,
        rgba(48, 48, 48, 0.508),
        rgba(28, 31, 35, 0.508),
        rgba(14, 16, 20, 0.81),
        rgba(12, 15, 21, 0.67)
    );
    box-shadow: 0 25px 40px 20px hsla(0, 0%, 0%, 0.576);

    border: solid rgb(55, 55, 55) 1px;
    border-radius: 2em;

    padding: 0 2%;
}

#typing-content {
    color      : rgba(179, 178, 178, 0.465);
    font-family: "Fira", monospace;
    font-size  : 500%;
    text-align : justify;
    position   : relative;
}

#cursor {
    position: absolute;
    width: 0.1em;                /* Độ dày của con trỏ */
    background-color: rgb(255, 249, 186);   /* Dùng màu nền thay vì màu chữ */
    margin-left: -0.1em;         /* Dịch nhẹ để con trỏ nằm giữa 2 ký tự */
    
    transition: left 0.05s ease-out, top 0.05s ease-out;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.5;}
}